<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Messenger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Messenger.Properties.Settings>
            <setting name="Aes_Key" serializeAs="String">
                <value>eThL0pzUH23IKMZCxUUqTpOjPtl7Gm7j9bx+ZfnBqjA=</value>
            </setting>
            <setting name="Aes_Iv" serializeAs="String">
                <value>+TSFLBn1VTTh4VtCFTv9AA==</value>
            </setting>
        </Messenger.Properties.Settings>
    </userSettings>
</configuration>
